# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# Ignore data contents
data/**

# Keep folder structure
!data/
!data/.gitkeep
!data/raw/
!data/cleaned/
!data/extracted/

!data/raw/.gitkeep
!data/cleaned/.gitkeep
!data/extracted/.gitkeep

# Logs
*.log

# Database files
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db